---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Dramacode, divers</title>
    <link rel="stylesheet" type="text/css" href="../Teinte/tei2html.css" />
  </head>
  <body>
    <main id="center">
      {% include header.html %}
      <!--
      {% for item in site.static_files %}
        {{ item }}
      {% endfor %}
      -->
      <article id="article">
        <h1><a href="https://github.com/dramacode/Divers">Dramacode</a>, pièces en attente de collection (divers)</h1>
        <table class="sortable">
          <thead>
            <tr>
              <th>Auteurs</th>
              <th>Titre</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="byline">Dac, Pierre</td>
              <td class="title">
                <a href="dac_phedre.xml">Phèdre</a>
              </td>
              <td class="date">1935</td>
            </tr>
<tr>
              <td class="byline">Forestier, Georges</td>
              <td class="title">
                <a href="forestier_tartuffe-1664.xml">Tartuffe en 3 actes</a>
              </td>
              <td class="date">2011</td>
            </tr>
          </tbody>
        </table>
      </article>
    </main>
    <script src="../Teinte/Sortable.js">//</script>
  </body>
</html>
